# PlatformIO
.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags-json

# Arduino IDE
build/
*.hex
*.elf
*.bin

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Local test scripts & captures
screenshots/
capture_scope.py
